In [1]:
import pandas as pd
import numpy as np
import sys, os

project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
if project_root not in sys.path:
    sys.path.append(project_root)

from shared_functions.gg_sheet_drive import *

In [2]:
records = pd.read_csv('D:/Study/Education/Projects/DataFlow/DataFlow_2026/data/learning/academic_records.csv')
admission = pd.read_csv('D:/Study/Education/Projects/DataFlow/DataFlow_2026/data/learning/admission.csv')

records.columns = ['id', 'semester', 'cpa', 'gpa', 'total_credits', 'finished_credits']
admission.columns = ['id', 'admission_year', 'admission_method', 'admission_subject', 'admission_score', 'base_score']

In [17]:
records.head(1)

             id       semester   cpa   gpa  total_credits  finished_credits
0  f022ed8d1ac1  HK2 2020-2021  2.19  2.02             18                18

In [18]:
admission.head(1)

,id,admission_year,admission_method,admission_subject,admission_score,base_score
0,0570116c3448,2018,5,A00,15.86,15.1

In [3]:
df = records.merge(admission, how = 'left', on = 'id')

df['finished_ratio'] = df['finished_credits'] / df['total_credits'] * 100

In [11]:
df.shape

(105726, 11)

In [16]:
df

,id,semester,cpa,gpa,total_credits,finished_credits,admission_year,admission_method,admission_subject,admission_score,base_score,finished_ratio
0,f022ed8d1ac1,HK2 2020-2021,2.19,2.02,18,18,2020,1,A00,23.96,21.72,100.000000
1,f022ed8d1ac1,HK1 2022-2023,0.95,2.12,14,7,2020,1,A00,23.96,21.72,50.000000
2,f022ed8d1ac1,HK1 2023-2024,0.81,1.89,29,16,2020,1,A00,23.96,21.72,55.172414
3,f022ed8d1ac1,HK2 2022-2023,1.37,1.93,26,23,2020,1,A00,23.96,21.72,88.461538
4,f022ed8d1ac1,HK2 2023-2024,1.71,1.91,16,13,2020,1,A00,23.96,21.72,81.250000
...,...,...,...,...,...,...,...,...,...,...,...,...
105721,5026f3862ba7,HK2 2022-2023,2.66,2.08,47,45,2020,1,A00,21.78,19.62,95.744681
105722,b470c5b57f92,HK2 2022-2023,2.64,2.54,47,45,2019,1,A00,21.78,19.18,95.744681
105723,17311d54609e,HK2 2022-2023,1.69,2.12,53,46,2019,1,A00,18.29,16.99,86.792453
105724,c0149c9bc839,HK2 2022-2023,2.62,2.47,49,49,2019,1,A00,18.12,16.11,100.000000
105725,12c018fa886c,HK2 2022-2023,2.17,2.27,53,50,2020,1,A00,22.41,20.00,94.339623

In [23]:
write_df_to_gs(df.iloc[:100], 'learning_progress')

'New tab created and DataFrame written to Google Sheet: learning_progress'

In [4]:
df.to_csv('learning_progress.csv')