In [4]:
import sys, os
import pandas as pd
import numpy as np

project_root = os.path.abspath(os.path.join(os.getcwd(), "../.."))
if project_root not in sys.path:
    sys.path.append(project_root)

from shared_functions.gg_sheet_drive import *

In [3]:
list_drive_files()

└── Test

In [6]:
# Create a synthetic dataframe
np.random.seed(42)

synthetic_df = pd.DataFrame({
    'id': range(1, 101),
    'name': [f'Person_{i}' for i in range(1, 101)],
    'age': np.random.randint(18, 80, 100),
    'salary': np.random.uniform(30000, 150000, 100).round(2),
    'department': np.random.choice(['Sales', 'Engineering', 'Marketing', 'HR'], 100),
    'score': np.random.uniform(0, 100, 100).round(2)
})

synthetic_df

     id        name  age     salary   department  score
0     1    Person_1   56   77418.03        Sales  78.53
1     2    Person_2   69  141199.06           HR  66.90
2     3    Person_3   46  117272.64  Engineering  58.07
3     4    Person_4   32   69184.89           HR  37.23
4     5    Person_5   60   98453.28  Engineering  94.01
..  ...         ...  ...        ...          ...    ...
95   96   Person_96   46   79324.44           HR  96.53
96   97   Person_97   35   33966.09           HR  45.73
97   98   Person_98   43   71408.55    Marketing  84.20
98   99   Person_99   61  106122.16        Sales  19.44
99  100  Person_100   51  111684.65           HR  41.14

[100 rows x 6 columns]

In [7]:
write_df_to_gs(synthetic_df, 'test')

'New tab created and DataFrame written to Google Sheet: test'